# População residente por tipo de deficiência, segundo o sexo e a cor ou raça - 2010 (IBGE)

In [1]:
import pandas as pd

In [2]:
dados_ibge = pd.read_excel('C:\Python\Analise-exploratoria\popu_resid_por_tipo_deficiencia.xlsx')

In [3]:
dados_ibge.head()

,"Tabela 3426 - População residente por tipo de deficiência, segundo o sexo e a cor ou raça - Amostra - Características Gerais da População",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Variável - População residente (Pessoas),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ano - 2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Brasil, Grande Região e Unidade da Federação",Cor ou raça,Tipo de deficiência permanente x Sexo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Total,NaN,NaN,Deficiência visual - não consegue de modo algum,NaN,NaN,Deficiência visual - grande dificuldade,NaN,...,NaN,Deficiência auditiva - não consegue de modo algum,NaN,NaN,Deficiência auditiva - grande dificuldade,NaN,NaN,Deficiência auditiva - alguma dificuldade,NaN,NaN
4,NaN,NaN,Total,Homens,Mulheres,Total,Homens,Mulheres,Total,Homens,...,Mulheres,Total,Homens,Mulheres,Total,Homens,Mulheres,Total,Homens,Mulheres

# Tratando os valores vaizios

Neste caso vou subistituir por espaço para melhor verificação e pq preciso das colunas e linhas intactas

In [4]:
dados_ibge = dados_ibge.fillna(' ')

In [5]:
dados_ibge[:30]

,"Tabela 3426 - População residente por tipo de deficiência, segundo o sexo e a cor ou raça - Amostra - Características Gerais da População",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Variável - População residente (Pessoas),,,,,,,,,,...,,,,,,,,,,
1,Ano - 2010,,,,,,,,,,...,,,,,,,,,,
2,"Brasil, Grande Região e Unidade da Federação",Cor ou raça,Tipo de deficiência permanente x Sexo,,,,,,,,...,,,,,,,,,,
3,,,Total,,,Deficiência visual - não consegue de modo algum,,,Deficiência visual - grande dificuldade,,...,,Deficiência auditiva - não consegue de modo algum,,,Deficiência auditiva - grande dificuldade,,,Deficiência auditiva - alguma dificuldade,,
4,,,Total,Homens,Mulheres,Total,Homens,Mulheres,Total,Homens,...,Mulheres,Total,Homens,Mulheres,Total,Homens,Mulheres,Total,Homens,Mulheres
5,Brasil,Total,190755799,93406990,97348809,506377,237538,268839,6056533,2437398,...,16966732,344206,172405,171801,1798967,946289,852678,7574145,3789918,3784228
6,,Branca,90621281,43426847,47194434,266814,122620,144194,2673726,1062685,...,7901813,177461,86560,90901,904509,463132,441377,3609404,1802915,1806489
7,,Preta,14351162,7440244,6910918,42883,21590,21292,585328,240687,...,1372148,24383,12476,11907,145643,79678,65965,632795,318202,314593
8,,Amarela,2105353,959547,1145806,5863,2961,2902,76784,29003,...,225328,3627,1984,1644,24174,12345,11830,100575,47550,53026
9,,Parda,82820452,41148439,41672013,189175,89572,99603,2693656,1093220,...,7413125,137483,70748,66735,717120,387275,329846,3199082,1605119,1593963
10,,Indígena,821501,410917,410584,1642,794,848,27007,11802,...,54318,1252,638,615,7520,3859,3661,32228,16071,16157
11,,Sem declaração,36051,20996,15055,-,-,-,31,-,...,-,-,-,-,-,-,-,61,61,-
12,Norte,Total,15864454,8004915,7859539,32408,15362,17046,540864,238435,...,1329800,23023,12059,10964,123273,71645,51628,591018,319915,271102
13,,Branca,3686144,1796832,1889313,8758,3932,4826,125451,54508,...,322725,5527,2782,2745,31059,17725,13334,138954,75514,63440
14,,Preta,1033504,580730,452774,2363,1318,1045,48261,23496,...,88415,1673,972,700,11259,6830,4430,48879,28642,20237
15,,Amarela,176721,80316,96405,350,208,143,7070,3014,...,18349,247,178,69,1548,946,602,7334,3618,3716
16,,Parda,10659535,5388137,5271397,20329,9629,10700,353291,153992,...,886707,15046,7847,7199,77578,45066,32512,386261,207020,179241
17,,Indígena,305152,156359,148793,608,275,332,6783,3425,...,13605,530,280,250,1829,1079,750,9590,5122,4468
18,,Sem declaração,3398,2541,857,-,-,-,8,-,...,-,-,-,-,-,-,-,-,-,-
19,Nordeste,Total,53081950,25909046,27172904,126163,60482,65681,2062719,836158,...,5313976,89030,44981,44049,568438,297635,270803,2413885,1153429,1260456
20,,Branca,15488292,7335421,8152871,41702,18762,22940,604597,243476,...,1555385,27888,13354,14534,182459,92599,89860,716010,338568,377442
21,,Preta,5013783,2592016,2421767,13685,7281,6404,242132,101767,...,526707,7916,4128,3788,60584,33207,27378,259413,125518,133895
22,,Amarela,631563,274360,357203,1387,687,700,32372,11346,...,78101,814,420,394,8140,4035,4105,33749,14104,19645
23,,Parda,31731631,15599890,16131741,68956,33528,35428,1173574,475294,...,3134313,52067,26937,25130,314596,166541,148055,1394189,670209,723979
24,,Indígena,209457,103845,105612,432,224,208,10045,4274,...,19471,345,142,204,2659,1253,1406,10525,5030,5495
25,,Sem declaração,7224,3514,3710,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
26,Sudeste,Total,80364410,39076647,41287763,248917,114292,134624,2247963,869271,...,6973573,158786,78179,80607,708996,361093,347902,2967992,1476645,1491347
27,,Branca,44152518,21048985,23103533,146983,66903,80080,1176777,453316,...,3825968,95132,46079,49053,417061,207142,209918,1671316,824078,847239
28,,Preta,6281663,3204837,3076826,21468,10343,11126,219776,84019,...,583650,11214,5537,5677,53820,28213,25607,242666,120863,121803
29,,Amarela,902731,420523,482209,3451,1826,1626,25481,10065,...,92759,1979,1036,944,10539,5354,5185,41988,20973,21015

# Deficiência visiual total por sexo:

In [6]:
df_total = pd.DataFrame(dados_ibge, columns= ['Unnamed: 1', 'Unnamed: 2','Unnamed: 3','Unnamed: 4'])

In [7]:
df_total

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,,,,
1,,,,
2,Cor ou raça,Tipo de deficiência permanente x Sexo,,
3,,Total,,
4,,Total,Homens,Mulheres
...,...,...,...,...
232,Amarela,42679,17953,24727
233,Parda,1250315,606885,643430
234,Indígena,7070,3315,3755
235,Sem declaração,854,354,500
236,,,,

In [8]:
df_total = df_total.iloc[4:12]

In [9]:
df_total

        Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
4                       Total     Homens   Mulheres
5            Total  190755799   93406990   97348809
6           Branca   90621281   43426847   47194434
7            Preta   14351162    7440244    6910918
8          Amarela    2105353     959547    1145806
9            Parda   82820452   41148439   41672013
10        Indígena     821501     410917     410584
11  Sem declaração      36051      20996      15055

In [10]:
total = df_total['Unnamed: 2']
total = total[5]
total_m = df_total['Unnamed: 4']
total_m = total_m[5]
total_h = df_total['Unnamed: 3']
total_h = total_h[5]

In [11]:
print(f'O total de defi. Visual em 2010 no Brasil foi: {total} pessoas.\nSendo: {total_m} de mulheres e {total_h} de homens.')

O total de defi. Visual em 2010 no Brasil foi: 190755799 pessoas.
Sendo: 97348809 de mulheres e 93406990 de homens.

In [12]:
print(f'A porcentagem de MULHERES com D.Visual é de: {(total_m/total) * 100:.2f}%')

A porcentagem de MULHERES com D.Visual é de: 51.03%

In [13]:
print(f'A porcentagem de HOMENS com D.Visual é de: {(total_h/total) * 100:.2f}%')

A porcentagem de HOMENS com D.Visual é de: 48.97%

In [14]:
df_total

        Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
4                       Total     Homens   Mulheres
5            Total  190755799   93406990   97348809
6           Branca   90621281   43426847   47194434
7            Preta   14351162    7440244    6910918
8          Amarela    2105353     959547    1145806
9            Parda   82820452   41148439   41672013
10        Indígena     821501     410917     410584
11  Sem declaração      36051      20996      15055

In [15]:
df_total_grafico = df_total.iloc[1:12]

In [16]:
df_total_grafico

        Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
5            Total  190755799   93406990   97348809
6           Branca   90621281   43426847   47194434
7            Preta   14351162    7440244    6910918
8          Amarela    2105353     959547    1145806
9            Parda   82820452   41148439   41672013
10        Indígena     821501     410917     410584
11  Sem declaração      36051      20996      15055

# Renomeando as Colunas:

In [17]:
df_total_grafico = df_total_grafico.rename(columns={'Unnamed: 1': 'Raça', 'Unnamed: 2': 'Total', 'Unnamed: 3': 'Homens', 'Unnamed: 4': 'Mulheres'})

In [18]:
df_total_grafico

              Raça      Total    Homens  Mulheres
5            Total  190755799  93406990  97348809
6           Branca   90621281  43426847  47194434
7            Preta   14351162   7440244   6910918
8          Amarela    2105353    959547   1145806
9            Parda   82820452  41148439  41672013
10        Indígena     821501    410917    410584
11  Sem declaração      36051     20996     15055

# Gerando um gráfico agrupado pela raça:

In [ ]:
df_total_grafico.groupby('Raça').mean().plot.barh(stacked=True);

# Criando umgráfico somente do Total:

Fiz transposição das colunas com o index para visualizar em forma de pizza

In [ ]:
df_uma_linha = df_total_grafico.iloc[:1]
df_transp = df_uma_linha.T

In [ ]:
df_transp = df_transp[1:]

In [ ]:
df_transp.plot.pie(subplots=True);